---
layout: default
---
<div class="home-body">
  <div class="title-container">
    <div class="title-text">
      <div class="title title-heading">
        {{ site.title }}
      </div>
      <div class="description">
        {{ site.description }}
      </div>
    </div>
  </div>
  <div class="heading-container">
    {% for heading in site.headings %}
      {% capture modulo2 %}{{ forloop.index0 | mod:2 }}{% endcapture %}
      <div class="heading
        {% if modulo2 == '1' %}
          bordered-heading
        {% endif %}
        "
       onclick="$('#{{ heading.name | replace:' ','-' }}').slideToggle();">
        <div class="heading-text">
          <script>
            $document.ready(function() {
              $('#{{ heading.name | replace:' ','-' }}').addEvent('click', function(ev){ev.stopPropagation();});});
          </script>
          <div class="title-heading">
            {{ heading.name }}
            <div class="heading-content" id="{{ heading.name| replace:' ','-'  }}">
              {% if heading.include %}
                {% include {{ heading.include }} %}
              {% else %}
                <div class="description">
                  {{ heading.content }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
